<div class="container-fluid background-page row">
    <div class="container">
        <h1 class="title">Listar Melhores Clientes</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Saldo da conta</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes" class="position-relative">
                    <td> {{cliente.cpf! | mask: "000.000.000-00"}} </td>
                    <td> {{cliente.nome}} </td>
                    <td> {{cliente?.endereco?.cidade}} </td>
                    <td> {{cliente?.endereco?.estado}} </td>
                    <td> {{cliente.conta?.saldoConta | currency}} </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="clientes === undefined" class="fs-3 text-center text-secondary fw-bolder">Nenhum cliente encontrado.
        </p>
    </div>
</div>